body{

    background-color: darkcyan;

}

#koelkast{

    background-color:beige;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:black;
    gap: 20px;
    padding: 10px;

}

section{

    border: 2px solid turquoise;
    padding: 10px;
    min-height: 100px;

}

h2{
    
    margin: 0 0 10px 0; /* Top > Right > Bottom > Left */

}

button{

    padding: 10px 20px ;
    background-color:gray;
    color: white;
    font-size: 18px;
    border: 2px solid red;

}